
    <meta name="google-signin-client_id" content="824727614201-aqs7qs34hsspjj65abvvbj3luehgj1rc.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
    {{!-- <link rel="icon" href="data:,"> --}}
    <link rel="shortcut icon" href="#" />
    <div class="container login">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card text-center">
                    <div class="card-header">
                        Iniciar Sesión
                    </div>
                    <div class="card-body">
                        <div class="imgcontainer">
                            <img src="./img/logoWhite-new.png" style="width: 300px; height: 100px; " alt="UNIVERSIDAD EUROPEA DEL ATLÁNTICO" class="avatar">
                        </div>
                    
                        <h1>Bienvenido a la plataforma de Laboratorios Virtuales</h1>
                    
                        <button class="btn-login">Iniciar Sesión con Google</button>
                    
                        <hr>
                    
                        <p>
                            Esta Plataforma está orientada a la reserva de los laboratorios de la Universidad con el fin de facilitar el aprendizaje de los
                            estudiantes con el uso de los equipos de la Universidad, que cuentan con los programas necesarios para impartir cada materia.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>